@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .image-wrapper > span > img {
    min-width: min-content !important;
  }
  .image-wrapper > span {
    width: 400px !important;
  }

  .wallet-adapter-button-select {
    background-color: #2dd4bf !important;
    font-family: inherit !important;
    font-weight: bold !important;
  }
}
